<ion-view view-title="Workouts">
  <ion-content class="padding">
    <div class="list">

    <div class="list list-inset">
      
      <label class="item item-input">
        <input type="date" placeholder="Date">
      </label>

      <label class="item item-input">
        <input type="time" placeholder="Duration">
      </label>

      <label class="item item-input item-select">
      <div class="input-label">Activity</div>
        <select>
          <option>Cardio</option>
          <option selected>Strength</option>
          <option>Other</option>
        </select>
      </label>
      </div>

    </div>

     <a class="button button-full button-balanced" href="#/tab/activities">
  Save Workout</a>

  </ion-content>
</ion-view>
