<ion-view view-title="Get Mo Fit!">
  <ion-content class="padding">
  <h1 style="text-align:center; font-family:'impact'">Hey, Fatty!</h1>
  <img style="width:70%; display:block; margin:auto; "src="http://2.bp.blogspot.com/-UOAlqHfuw04/TcJSMzDfXjI/AAAAAAAAAQU/VypjQ052bs8/s1600/Bulko+with+bulk+of+food.png">
  <div id="progressbar">
    <div id="progress">     
    </div>
  </div>
  <ul>
    <li style="display:inline-block; padding: 1.9em; font-family:impact;">Fatty</li>|
    <li style="display:inline-block; padding: 1.8em; font-family:impact;">Meh</li>|
    <li style="display:inline-block; padding: 1.8em; font-family:impact;">Fit</li>|
    <li style="display:inline-block; padding: 1.8em; font-family:impact;">Dayum!</li>
  </ul>
  
  <a class="button button-full button-balanced" href="#/tab/workouts">
  Add Workout</a>

  </ion-content>
</ion-view>
