<!-- Users can log new workout -->

<ion-view view-title="Workouts">
  <ion-content class="padding">
    <p>Total Steps Today: <p>

    <div class="list">

    <div class="list list-inset">

      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" id="workoutDate" ng-model="date">
      </label>

      <label class="item item-input">
        <span class="input-label">Duration (minutes)</span>
        <input type="tel" id="workoutDuration" ng-model="duration">
      </label>

      <label class="item item-input item-select">
      <div class="input-label">Activity</div>
        <select id="workoutActivity" ng-model="activity">
          <option>Cardio</option>
          <option selected>Strength</option>
          <option>Other</option>
        </select>
      </label>
      </div>

    </div>

      <a id="saveWorkout" class="button button-full button-balanced" href="#/tab/activities" ng-click="saveWorkout(date, duration, activity)">
        Save Workout
      </a>

  </ion-content>
</ion-view>
