<!-- Account Settings Page -->
<ion-view view-title="Account">
  <ion-content>

    <form ng-controller="FormController">
      <div class="list list-inset">
        
        <label class="item item-input">
          <input ng-model="userName" type="text" placeholder="Name" id="inputname">
        </label> 

        <label class="item item-input">
          <input ng-model="userEmail" type="text" placeholder="Email" id="email" value="{{ userEmail }}"> 
        </label>

        <label class="item item-input">
          <input ng-model="FitnessGoal" type="text" placeholder="Fitness Goal" id="fitnessGoal" value="{{ FitnessGoal }}">
        </label>

        <label class="item item-input item-select">
        <div class="input-label">Gender</div>
          <select id="gender" ng-model="gender">
            <option>Male</option>
            <option selected>Female</option>
          </select>
        </label>

        <label class="item item-input item-select">
        <div class="input-label">Mo's Attitude</div>
          <select id="mosAttitude">
            <option>Nice Mo</option>
            <option>Mean Mo</option>
          </select>
        </label>

        <a id="saveSettings" class="button button-full button-balanced" href="#/tab/account" type="submit" ng-click="saveData(userName, userEmail, FitnessGoal)">
          Save Settings
        </a>
        <button ng-click="loadData()">Load Data Test</button>

      </div>
    </form>

  </ion-content>
</ion-view>
