<ion-view view-title="Your Activity">
  <ion-content class="padding" ng-controller="WorkoutsCtrl">

    <div class="button-bar">
      <a class="button button-calm">Workouts</a>
      <a class="button button-calm button-outline" ng-click="querySampleType()" href="#/tab/steps" >Steps</a>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="log in logs | orderBy:'-date'" type="item-text-wrap">
        <h2>{{log.activity}}</h2>
        <p>{{log.date | date:'yyyy-MM-dd'}}</p>
        <p>{{log.duration}} minutes</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
