<!-- Users can log new workout -->

<ion-view view-title="Workouts">
  <ion-content class="padding">
    <div class="list">

    <div class="list list-inset">
      
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" id="workoutDate">
      </label>

      <label class="item item-input">
        <span class="input-label">Duration (minutes)</span>
        <input type="tel" id="workoutDuration">
      </label>

      <label class="item item-input item-select">
      <div class="input-label">Activity</div>
        <select id="workoutActivity">
          <option>Cardio</option>
          <option selected>Strength</option>
          <option>Other</option>
        </select>
      </label>
      </div>

    </div>

      <a id="saveWorkout" class="button button-full button-balanced" href="#/tab/activities">
        Save Workout
      </a>

  </ion-content>
</ion-view>
