<ion-view view-title="Account">
  <ion-content>

    <div class="list list-inset">
      
      <label class="item item-input">
        <input type="text" placeholder="Name">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Fitness Goal">
      </label>

    <!--   <label class="item item-input">
        <input type="text" placeholder="Height">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Weight">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Age">
      </label> -->

      <label class="item item-input item-select">
      <div class="input-label">Gender</div>
        <select>
          <option>Male</option>
          <option selected>Female</option>
        </select>
      </label>

      <div class="list">
  <h2 style="text-align:center;">Mo's Attitude</h2>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Nice Mo
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Not so nice Mo
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>


</div>

    </div>

  </ion-content>
</ion-view>
