<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Mo Tab -->
  <ion-tab title="Mo" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

   <!-- Workout Tab -->
 <ion-tab title="Workout" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab/workouts">
   <ion-nav-view name="tab-workouts"></ion-nav-view>
 </ion-tab>

  <!-- Activity Tab -->
  <ion-tab title="Activity" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/activities">
    <ion-nav-view name="tab-activities"></ion-nav-view>
  </ion-tab>

  <!-- Steps Tab -->
  <ion-tab class="tab-hidden" title="Steps" icon-off="ion-ios-settings" ng-click="querySampleType()" icon-on="ion-ios-settings-strong" href="#/tab/steps">
    <ion-nav-view name="tab-steps"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
