/* Empty. Add your own CSS if you like */

#progressbar {
	margin-top: 10px;
	width: 100%;
	height:50px;
	border:5px solid black; 
	border-radius: 10px;
	z-index: 10;
}

#progress {
	width: 10%;
	background-color: red;
	height:100%;
	border-radius: 
	z-index:-1;
}

